/* Base configuration */ 

body {
	margin: 0;
	font-family: "proxima-nova", sans-serif;
}

html, body {
	height: 100%;
}

.logo {
	width: 80px;
	margin: 30px auto;

	img {
		width: 80px;
		height: auto;	
	}
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

/* Base configuration variables */
$base-font-size: 14px;