/* Base configuration variables */
$base-font-size: 14px;
$primary: #4B5086;
$primary-dark: #393c65;
$peach: #E48263;

/* Base configuration */ 
body {
	margin: 0;
	font-family: "proxima-nova", sans-serif;
	font-size: $base-font-size;
	font-weight: 300;
}

html, body {
	height: 100%;
}

.logo {
	width: 80px;
	margin: 30px auto;

	img {
		width: 80px;
		height: auto;	
	}
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}
