/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.container {
		padding: 0 80px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.container {
		padding: 0 80px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.container {
		padding: 0 80px;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .list-sidebar, .details-sidebar {
    display: none;
  }
  .details-main, .list-main, .about-main {
    margin-left: 0 !important;
  }

  .list-container {
  	margin-top: 240px !important;
  }

  .wikipedia-bio__columns, .about-section__biography {
    columns: 1 !important;
  }

  .mobile-header {
  	display: block;
  }

  .logo {
  	img {
  		margin-top: 20px;
  	}
  }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	.list-sidebar, .details-sidebar {
	  display: none;
	}
	.details-main, .list-main, .about-main {
	  margin-left: 0 !important;
	}

	.list-container {
		margin-top: 240px !important;
	}

	.wikipedia-bio__columns, .about-section__biography  {
	  columns: 1 !important;
	}

	.mobile-header {
		display: block;
	}

	.details-header__rank {
		display: none;
	}

	.logo {
		img {
			margin-top: 20px;
		}
	}
}