/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .list-sidebar, .details-sidebar {
    display: none;
  }
  .details-main, .list-main {
    margin-left: 0 !important;
  }

  .list-container {
  	margin-top: 70px;
  }

  .wikipedia-bio__columns {
    columns: 0 !important;
  }

  .mobile-header {
  	display: block;
  }

  .logo {
  	img {
  		margin-top: 20px;
  	}
  }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
}