.list-container {
	@include center-container
}

.list-container__title {
	text-transform: uppercase;
	font-size: $base-font-size;
	letter-spacing: 0.13em;
	color: #aaa;
	font-weight: 500;
	
	border-bottom: 1px solid #ddd;
	padding: 15px 0 8px 0;
}

/* Individual person item */
.person-item {
	margin: 30px 0;
	position: relative;
}

.person-rank-circle {
	width: 38px;
	height: 38px;
	border: 1px solid $peach;
  border-radius: 50px;
  position: relative;
	.person-rank {
		position: absolute;
		left: 0;
		right: 0;
		top: 10px;
		text-align: center;
	}
}

.person-info-wrapper {
	position: absolute;
	top: 0px;
	left: 60px;
	font-size: 16px;

	a {
		font-weight: 500;
		color: #000;
	}

	a:hover {
		text-decoration: none;
		color: inherit;
	}
}

.person-profession {
	display: block;
	margin-top: 4px;
	font-weight: 100;
	color: #aaa;
}

.person-details {
	display: inline-block;
}