.list-header {
	@include header;
	opacity: 0.65;
	background: #F5F8FA;

	canvas {
		position: absolute;
		top: 0;
	}
}

h1.list-header__title {
	font-weight: 100;
	margin-bottom: 0;
}

p.list-header__about {
	max-width: 650px;
	line-height: 30px;
}
