.details-container {
  @include center-container;
  margin-top: 100px;
  height: 100vh;
  background: #fff;
  padding-top: 0;
}

.wikipedia-bio {
	width: 100%;
	background: $light-white;
	padding-bottom: 25px;
	box-shadow: 0 0 2px #ddd;

	.wikipedia-bio__title {
		@include details-section-title;
	}

	.wikipedia-bio__columns {
		column-count: 2;
		column-gap: 80px;
		line-height: 40px;
		letter-spacing: 0.02em;
		text-align: justify;

		a {
			color: $primary;
			text-decoration: none;
		}
	}
}

.details-section-title {
	@include details-section-title;
}

.social-module {
	float: left;
}