.details-header {
	@include header;
	height: 100px;
	box-shadow: 0 0 2px #ddd;
}

.details-header__top-personal {
	margin-top: 15px;
}
.details-header__face {
	img {
		width: 70px;
		height: 70px;
		border-radius: 50px;
	}
}

.details-header__name {
	font-weight: 300;
	font-size: 1.5em;
	color: #4B5086;

	& > a {
		color: $primary !important;
	}
}

.details-header__profession {
	font-weight: 100;
	font-size: 1.2em;
	margin-top: 2px;
	color: #aaa;
}

.details-header__name, .details-header__profession {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 40px;
}

.details-header__rank {
	float: right;
	margin-top: 30px;
	padding: 10px 20px;
	border: 1px solid $primary;
	border-radius: 50px;
	color: $primary;
	background: transparent;
	letter-spacing: 0.05em;

}