.details-container {
  @include center-container;
  margin-top: 100px;
  height: 100vh;
  background: #F5F8FA;
  padding-top: 0;
}

.wikipedia-bio {
	width: 100%;
	background: #fff;
	padding-bottom: 20px;

	.wikipedia-bio__title {
		text-align: center;
		font-weight: 500;
		letter-spacing: 0.5em;
		padding: 10px 0;
		text-transform: uppercase;
	}

	.wikipedia-bio__columns {
		column-count: 2;
		column-gap: 80px;
		line-height: 40px;
		letter-spacing: 0.02em;

		a {
			color: $primary;
			text-decoration: none;
		}
	}
}

.social-module {
	float: left;
}