.details-header {
	@include header;
}

.details-header__top-wrapper {
	margin-top: 45px;
}
.details-header__face {
	img {
		width: 75px;
		height: auto;
		border-radius: 50px;
	}
}

.details-header__name {
	font-weight: 300;
	margin-left: 45px;
}